<style>
    .profile-release-item {
        display: flex;
        flex-direction: column;
        min-height: 100px;
        justify-content: space-around;
        padding-left: 10px;
        width: 100%;
    }

    .profile-release-item > * {
        margin-bottom: 10px;
    }

    .rights-section {
        display: flex;
        justify-content: center;
    }
</style>

<div class="flex-column">
    <div class="flex-row" style="justify-content: center">
        <div class="wizard-card-segment">
            <h2>Upload Track</h2>
            <p class="text-large subtle-text">
              Please select an audio track to upload. We support only MP3 as of now,
              but will expand to other formats in the future. Please wait for some
              time until the file is done uploading
            </p>
            <div class="profile-release-item">
                <input style="display: none" onchange="updateAudioLabel('audioLabel', this.id); updateAudioNextButton()"
                       id="audio" type="file" name="audio">
                <div class="center-text m20">
                    <label class="btn btn-warning no-submit form-entry btn-lg" style="max-width: 300px" for="audio" id="audioLabel" accept="audio/*">Click to Upload File</label>
                </div>

                <!--
                <div id="pbar_innerdiv" style="background-color: lightblue; z-index: 2; height: 100%; width: 0%;"></div>
                <div id="pbar_innertext" style="z-index: 3; position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: black; font-weight: bold; text-align: center;">0%</div>
                -->
                <div class="rights-section">
                    <input id=rights name=rights type="checkbox" value="confirmed" style="margin-right: 10px" onchange="updateAudioNextButton()">
                    <label for="rights" style="text-transform: none; max-width: 400px">
                        I confirm that I am the exclusive rights holder for this piece of work and/or have obtained the
                        rights necessary to release this work.
                    </label>
                </div>

                <div class="center-text">
                    <div class="subtle-text text-small" style="max-width: 500px">
                        Releasing copyrighted content owned by another person or entity without prior permission is a violation of
                        our terms of service and may result in a disabled account.
                    </div>
                </div>
            </div>
            <div class="wizard-button-bar">
                <div id="fromAudioToNext"
                     condition=""
                     class="navNext btn btn-success disabled">Next</div>
            </div>
        </div>

    </div>

</div>
<script>
/*
    $('#audio').bind('change', function() {
        // do stuff here for progress bar
        // alert(this.files[0].size);
        $('#pbar_innerdiv').removeClass('hidden');
        $('#pbar_innertext').removeClass('hidden');

        var start = new Date();
        var maxTime = (this.files[0].size)/100000;   // 1 MB -> 10 seconds
        var timeoutVal = Math.floor(maxTime/100);
        animateUpdate();

        function updateProgress(percentage) {
            $('#pbar_innerdiv').css("width", percentage + "%");
            $('#pbar_innertext').text(percentage + "%");
        }

        function animateUpdate() {
            var now = new Date();
            var timeDiff = now.getTime() - start.getTime();
            var perc = Math.round((timeDiff/maxTime)*100);
            // console.log(perc);
              if (perc <= 100) {
               updateProgress(perc);
               setTimeout(animateUpdate, timeoutVal);
              }
        }
    });
*/
    function updateAudioNextButton() {
      $('#fromAudioToNext').toggleClass('disabled', !isAudioDone())
    }

    function isAudioDone() {
      return $('#rights').prop("checked") && !!$("#audio").val();
    }
</script>
