<div class="flex-row" style="justify-content: center">
    <div class="wizard-card-segment">
        <h2>Account Verification</h2>
        <p class="text-large subtle-text">
        Help us reduce spam and ensure that Musicoin is home to music that benefits musicians
        who created it by linking your social accounts before releasing a track.
        PRO TIP: tweet @musicoins for faster verification.
            <br>
            Please link your Twitter or Facebook account in order to continue.
        (<a href="faq#WhyLinkAccounts" class="text-medium-small subtle-text">How does this help?</a>)
        </p>
        <div class="flex-row center-text mt20">
            <div class="mr5"><a href="/connect/google" target="_blank" class="btn btn-sm  <%=user.google.token ? "disabled" : "btn-danger "%>"><span
                            class="fa fa-google-plus"></span> Google</a></div>

            <div class="mr5"><a href="/connect/twitter" target="_blank" class="btn btn-sm  <%=user.twitter.token ? "disabled" : "btn-info"%>"><span
                            class="fa fa-twitter"></span> Twitter</a></div>

            <div class="mr5"><a href="/connect/facebook" target="_blank" class="btn btn-sm <%=user.facebook.token ? "disabled" : "btn-primary"%>"><span
                            class="fa fa-facebook"></span> Facebook</a></div>

            <div class="mr5"><a href="/connect/email" target="_blank" class="btn btn-sm <%=user.local.id ? "disabled" : "btn-default "%>"><span
                            class="fa fa-envelope-o"></span> Email</a></div>
        </div>
        <div class="wizard-button-bar">
            <div class="navNext btn btn-success">Next</div>
        </div>
    </div>

</div>
