/* .player {
  width: 400px;
  height: 200px;
} */

/* #player-badge-image {}

.player-foreground {}

.song-badge-info {}

.player-controls-wrapper {
  flex: 0 1 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.player-widget-right {
  display: flex;
  flex-flow: row;
  flex: 0 1 95%;
}

.player-badge-image-wrapper.player-widget-left {
  flex: 0 1 auto;
}

.musicoin-declaration-banner {
  display: none;
  color: #FFF;
  font-size: 14px;
  margin-left: 10px;
  text-align: center;
}

#track-description-in-player {
  display: none;
}

.embedded-player .player-badge-image-wrapper {
    padding: 5px 0;
    width: 47%;
    box-sizing: border-box;
}

.embedded-player .player-foreground {
  align-items: flex-start;
  padding: 0 5px;
}

.embedded-player .musicoin-declaration-banner {
  display: block;
}

.embedded-player .player-widget-right {
  flex-flow: column;
}

.embedded-player #track-description-in-player {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #e2e2e2;
  height: 22px;
  width: 100%;
  white-space: nowrap;
}

.embedded-player .player-artist-name {
  padding: 3px;
  flex: 0 1 36%;
}


.embedded-player div#player-title-area {
  flex: 0 1 64%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.embedded-player .song-badge-info {
  flex-direction: row;
  flex-wrap: wrap;
  width: 260px;
}

.embedded-player .player-artist-name::before {
  content: "By ";
}

.embedded-player div#player-section {
  height: 100%;
}

.embedded-player #player-badge-image {
      max-width: 100%;
    width: 100%;
    height: 100%;
    display: block !important;
}

.embedded-player .player-progress {
  display: block !important;
}


.embedded-player #player-title {}

.embedded-player #player-options-overlay {
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #c7c4c45e;
    display: none;
}

.embedded-player #player-options {
  width: 80%;
    margin: 0 auto;
    color: #FFF;
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
}

.embedded-player #player-options > button {
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    border: 0;
    background: #000;
    width: 60%;
    margin: 5px auto;
    display: block;
    padding: 12px;
} */

body {
  background-color: transparent;
}

.embedded-player * {
  font-family: Ubuntu;

}

.disabled {
  color: grey !important;
}

.player-widget-left {
  width: 40%;
}

.player-widget-right {
  width: 60%;
}

.embedded-player-foreground {
  display: flex;
  min-width: 700px;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.song-badge-container {
  display: flex;
  min-width: 400px;
}

.song-badge-info {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  width: 260px !important;
}

.player-badge-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;
  width: 40%;
  max-width: 160px;
  background-color: #000;
  border-radius: 5px;
}

.song-badge-image {
  max-height: 100px;
  max-width: unset !important;
  width: unset !important;
  height: unset !important;
  object-fit: unset !important;
}

/* .embedded-player .player-artist-name::before {
  content: '';
} */

.player-song-name,
.player-artist-name,
.player-description {
  flex: unset !important;
  margin: 2px 5px;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
}

.player-song-name {
  font-size: 20px;
  font-weight: bold;
}

.player-artist-name {
  font-size: 18px;
}

.player-description {
  margin: 15px 5px 5px 5px;
  font-size: 12px;
  color: #333;
}

.embedded-player-controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px;
  background: none !important;
}

.player-controls-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.player-controls {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 600px;
  padding: 0 2rem;
  padding-top: 3rem;
  justify-content: space-between;
}

.player-control {
  color: inherit;
  font-size: 1.6rem;
  cursor: unset;
}

.player-control:active {
  color: inherit;
  text-shadow: inherit;
}

.player-control:hover {
  cursor: inherit;
}

.player-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.7rem;
  height: 2.7rem;
  padding: 0.6rem;
  color: #000;
}

.player-button:not(.disabled):hover {
  transform: scale(1.1);
  color: rgb(226, 192, 0);
  text-shadow: 1px 1px 1px rgb(226, 192, 0);

}

.player-progress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 2rem;
  margin-top: 10px;
  max-width: 600px;
}

.progress-bar {
  position: absolute;
  float: left;
  left: unset;
  right: unset;
  width: 100%;
  height: 4px;
  box-shadow: unset;
}

.progress-background {
  background-color: #fff;
}

.progress-foreground {
  width: 0;
  background-color: gold;
}

.progress-spread {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 4px;
  margin: 0 0.8rem;
}

.player-extra-controls-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.extra-control {
  padding: 0 1rem;
  font-size: 3rem !important;
  color: #000;
}

.queue-wrapper {
  position: relative;
}

.queue-size {
  position: absolute;
  bottom: -10px;
  right: 4px;
  display: flex;
  border-radius: 6px;
  border: 2px solid white;
  background-color: #e4aa17;
  color: white;
  font-weight: bold;
  font-size: 0.7em;
  min-width: 20px;
  align-items: center;
  min-height: 20px;
  justify-content: center;
}

.musicoin-declaration-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BUTTON CONTROLS */
 .play-button-wrapper {
    border: 1px solid #000;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
 }
 .play-button-wrapper:not(.disabled):hover {
    border: 1px solid rgb(226, 192, 0);
    color: rgb(226, 192, 0);
  }

  .play-button-wrapper:not(.disabled):active {
    border: 1px solid rgb(226, 192, 0);
    color: rgb(226, 192, 0);
  }