#share-options {
  padding: 0;
  margin: 0;
}

.share-option {
  list-style: none;
  display: inline-block;
}

.share-option a {}

#open-share-dialog {
	display: none;
}

#embedded-player-preview {

}

#embedded-player-preview-frame {
	border: 0;
	    width: 100%;
}

#embedded-player-source-code {

}

#embedded-player-source-code-field {

}

#social-sharing-preview-frame {
	border: 0;
	    width: 100%;
}

.social-sharing-preview {

}

#share-options-container {

}

#share-options-header {

}

#embedded-player-source-code-header {
	
}