.share-options {
  padding: 0;
  margin: 0;
}

.share-option {
  list-style: none;
  display: inline-block;
}

.share-option a {}

#open-share-dialog {
	display: none;
}

#embedded-player-preview {

}

#embedded-player-preview-frame {

}

#embedded-player-source-code {

}

#embedded-player-source-code-field {
	
}
