.well {
    background-color: rgba(255,255,255,0.15);
    border: none;
}

.white-well {
    color: #333;
    background-color: #fcfcfc;
}

body {
    color: #eee;
    background: #333 url('/images/musician.jpg') no-repeat fixed;
}

label {
    font-family: monospace;
    text-transform: lowercase;
}

.social-link {
    color: #aaa;
}

.section-header {
    color: #aaa;
    font-weight: lighter;
    font-family: monospace;
    text-transform: lowercase;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.clickable {
    cursor: pointer;
}

.center-text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

.subtle-text {
    color: #aaa
}

@media screen and (max-width: 500px) {
    .big-screen-only {
        display: none !important;
    }
}

@media screen and (min-width: 500px) {
    .small-screen-only {
        display: none !important;
    }
}

.shadow {
    box-shadow: 0 0 25px -4px black;
}
.shadow:hover {
    box-shadow: 0 0 25px -4px white;
}

.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}