.well {
    background-color: rgba(255,255,255,0.15);
    border: none;
}

.white-well {
    color: #333;
    background-color: #fcfcfc;
}

body {
    color: #eee;
}

label {
    font-family: monospace;
    text-transform: lowercase;
}

.social-link {
    color: #aaa;
}

.section-header {
    color: #aaa;
    font-weight: lighter;
    font-family: monospace;
    text-transform: lowercase;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.pad5 {  padding: 5px;  }
.pad10 {  padding: 10px;  }
.pad20 {  padding: 20px;  }
.mb5 {  margin-bottom: 5px;  }

.clickable {
    cursor: pointer;
}

.center-text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

.subtle-text {
    color: #aaa
}

@media screen and (max-width: 800px) {
    .big-screen-only {
        display: none !important;
    }
}

@media screen and (min-width: 800px) {
    .small-screen-only {
        display: none !important;
    }
}

.shadow {
    box-shadow: 0 0 25px -4px black;
}
.shadow:hover {
    box-shadow: 0 0 25px -4px white;
}

.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}

.abs-top-right {
    position: absolute;
    top: 10px;
    right: 30px;
}

.show-on-well-hover {
    display: none;
}

.well:hover .show-on-well-hover,
.well.hover .show-on-well-hover {
    display: flex;
}

.pulse-bg {
    animation: pulse 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

.pulse-text {
    animation: pulse-fg 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@keyframes pulse-fg {
    0% {
        color: rgba(255,255,255,1);
    }
    100% {
        color: rgba(255,255,255,0.5);
    }
}

@keyframes pulse {
    0% {
        background-color: rgba(255,255,255,0.2);
    }
    100% {
        background-color: rgba(255,255,255,0.15);
    }
}