.track-image {
    background-size: cover;
    width: 128px;
    height: 128px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.track-name {
    font-weight: bold;
}

.chat-area {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding-top: 10px;
}

.chat-messages {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    color: black;
    padding-bottom: 10px;
    padding-right: 10px;
    overflow-y: auto;
}

.chat-message-area {
    flex-grow: 1;
}

.chat-input-area {
    height: 40px;
    margin-top: 5px;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.chat-input {
    display: flex;
}

#chat-input {
    width: 100%;
}

.chat-message-normal {
    display: flex;
    flex-shrink: 0;
    padding: 5px;
}

.chat-message-normal:hover {
    background-color: rgba(0,0,0,0.02);
}

.chat-message-highlight {
    display: flex;
    flex-shrink: 0;
    padding: 5px;
    background-color: #f5f5ff;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 2px;
}

.chat-message-highlight:hover {
    background-color: #f3f3ff;
}

.chat-message-preview {
    max-height: 64px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sender-image {
    width: 48px;
    height: 48px;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.release-image {
    width: 48px;
    height: 48px;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
}

.chat-message-sender {
    font-weight: bold;
}

.chat-message-body {
    color: #333;
    margin-bottom: 10px;
}

.message-time {
    color: #aaa;
    font-weight: normal;
    margin-left: 10px;
}

.action-area {
    display: flex;
    align-items: center;
}

.message-scroller {
    height: 100%;
    min-height: 180px;
    overflow-y: auto;
}

.track-description-header {
    color: #333
}

blockquote {
    background-color: #eee;
}

.private-view {
    padding: 5px;
    margin-top: 10px;
}

.message-tip {
    font-size: 14pt;
}