<!doctype html>
<html>

<head>
  <%- include partials/page-head.ejs %>
  <style>
    @font-face {
      font-family: Raleway;
      src: url('../fonts/Raleway-Regular.ttf');
    }
  </style>
  <link rel="stylesheet" type="text/css" href="/styles/player.css">
  <link rel="stylesheet" type="text/css" href="/styles/embedded-player.css">
</head>

<body>
	<div id="embedded-player-main" class="embedded-player">
		<%- include partials/embedded-player.ejs %>
	</div>
  
    <script type="text/javascript" src="/js/player.js"></script>
    <script>
      $(document).ready(function() {
        musicoin.audioPlayer.initialize({embedded: true, onReady: function onReady() {
          musicoin.audioPlayer.queueTrack('<%=address%>');
        }});
      });
    </script>
</body>

</html>
