<!doctype html>
<html>
<head>
    <title>Invite - Musicoin</title>
    <%- include partials/page-head.ejs %>
    <style>
        body {
            word-wrap:break-word;
            /*background-image: url(images/growing.jpg);*/
            background-image: url(images/waitlist.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            color: rgba(255,255,255,0.8);
        }

        a {
            text-shadow: none;
        }

        a:hover {
            color: inherit;
        }


        .container {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .email {
            width: 300px;
            padding: 10px;
            border: none;
            border-radius: 4px;
            font-size: 14px;
            color: #333;
        }

        h1, h3 {
            text-shadow: 1px 2px rgba(0,0,0,0.5);
        }
    </style>
</head>
<body>
<%- include('partials/header.ejs', {isAuthenticated: false}) %>
<style>
    .background-cover {
        /*background-color: rgba(0,0,0,0.5);*/
        display: none;
    }
    .subtle-text {
        color: white;
    }
</style>
<div class="container">
    <div class="text-center">
        <h1>Join our waiting list</h1>
        <h3>We'll let you know when your account is ready</h3>

        <div class="form-group flex-column center-text">
            <input id=email class="mb5 email" type="text" name="email"  placeholder="email address">
            <div class="mb5 center-text">
                <input id="musician" type="checkbox" name="musician" value="true" <%- musician ? "checked" : ""%>>&nbsp;Check this box if you are a musician
            </div>
        </div>
        <div class="btn btn-success btn-lg" onclick="submitWaitlist()">Add me!</div>
        <div class="m10 flex">
            <p id="result" class="text-medium">
            </p>
        </div>
    </div>
</div>
<script>
    function submitWaitlist() {
      var email = $("#email").val();
      var musician = $("#musician").is(":checked");
      if (!email) {
        return alert("An email address is required!");
      }

      var result = $("#result");
      $.post('/waitlist/add', {
        email: email,
        musician: musician
      }, function (data) {
        if (data.success) {
            if (data.exists) {
              result.html("You are already on the waiting list.  <br> You are currently number " + data.position);
            }
            else {
              result.html("You have been added to the waiting list. <br> You are currently number " + data.position);
            }
        }
        else {
          var message = data.message ? data.message : "Sorry, something when wrong, please try again later";
          result.html(message);
        }
      })
    }
</script>
<%- include partials/connect-with-us.ejs %>
</body>
</html>