<!doctype html>
<html>
<head>
    <title>Musicoin.org</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
        .whisper {
            color: #888;
            font-size: x-small;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Uh, this is awkward :/</h1>
        <h3>Musicoin is currently in a closed beta-testing period.</h3>
        <small>...so you need an invite to join.</small>
        <div class="whisper">(psst ...you don't have an invite)</div>
    </div>

</div>
</body>
</html>