<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/signup_page.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">

    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=explicit"async defer></script>
    <title>Signup for Musicoin</title>
</head>
<%- include partials/page-head.ejs %>

    <body>
        <div id="main-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 left-side">
                        <header>
                            <h3 id="logo">Create your<br>Music Wallet</h3>
                            <span>Musicoin</span>
                        </header>
                    </div>
                    <div class="col-md-6 right-side">
                        <h3 id="heading"><a href="https://musicoin.org" class="href1">musicoin</a> </h3>
                        <form name="signupForm" class="signup" action="/signup" target=_top method="post" onsubmit="return validateSignupFields()">
                            <span class="input input--hoshi">
                      <input class="input__field input__field--hoshi" type="text" id="screenname" name="name" required />
                      <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="name">
                        <span class="input__label-content input__label-content--hoshi">Name</span>
                            </label>
                            </span>
                            <span class="input input--hoshi">
                      <input class="input__field input__field--hoshi" type="text" id="email" name="email" required/>
                      <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="email">
                        <span class="input__label-content input__label-content--hoshi">E-mail</span>
                            </label>
                            </span>
                            <span class="input input--hoshi">
                      <input class="input__field input__field--hoshi" type="password" id="password" name="password" required/>
                      <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="password">
                        <span class="input__label-content input__label-content--hoshi">Password</span>
                            </label>
                            </span>
                            <span class="input input--hoshi">
                      <input class="input__field input__field--hoshi" type="password" id="password1" name="password2" required/>
                      <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="password1">
                        <span class="input__label-content input__label-content--hoshi">Repeat Password</span>
                            </label>
                        </span>
                            <span class="input input--hoshi">
                      <input class="input__field input__field--hoshi" type="text" id="screenname" name="name" required />
                      <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="name">
                        <span class="input__label-content input__label-content--hoshi">Request Code</span>
                            </label>
                            </span>
                            <span id="confirm" class="crazy1">Get a code</span>
                            <div id="signUpCaptcha" class="mt20" style=""></div>
                            <div class="cta">
                                <button type="submit"  class="btn btn-primary pull-left" id="signUpButton">Sign-Up Now</button>
                                <span><a class="href1" style="cursor: pointer" onclick="$('.signin').removeClass('hidden'); $('#signInCaptcha').removeClass('hidden'); $('.signup').hide()">Sign In</a></span>
                            </div>
                            <ul class="social list-inline">
                                <li><a href="/signup/twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/signup/facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="/signup/google"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                            </ul>
                        </form>


                        <form name="loginForm" class="signin hidden" action="/signin" target=_top method="post" onsubmit="return validateSignupFields()">

                            <span class="input input--hoshi">
                      <input class="input__field input__field--hoshi" type="text" id="email" name="email" required/>
                      <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="email">
                        <span class="input__label-content input__label-content--hoshi">E-mail</span>
                            </label>
                            </span>
                            <span class="input input--hoshi">
                      <input class="input__field input__field--hoshi" type="password" id="password" name="password" required/>
                      <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="password">
                        <span class="input__label-content input__label-content--hoshi">Password</span>
                            </label>
                            </span>
                            <div id="signInCaptcha" class="mt20 hidden"></div>
                            <div class="cta">
                                <button type="submit" class="btn btn-primary pull-left" id="signInButton" data-sitekey="6Lf6VSYUAAAAANpb9jQ36-_gSlbGYuj3itvUORy-">Sign-In Now</button>
                                <span><a class="href1" style="cursor: pointer" onclick="$('.signup').show(); $('.signin').addClass('hidden'); $('#signInCaptcha').addClass('hidden');">Sign Up</a></span>
                            </div>
                            <a class="crazy" href="/login/forgot">Forgot </a>
                            <ul class="social list-inline">
                                <li><a href="/auth/twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="/auth/facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="/auth/google"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </script>
        <!-- end #main-wrapper -->

        <!-- Scripts -->
        <script src="js/scripts.js"></script>
        <script src="js/classie.js"></script>
        <script>
            <% if (message.length > 0) { %>
            new Message("<%=message%>", 'warning', 5000);
            <% } %>
            $(document).ready(function() {
                $("#confirm").on('click', function() {
                    var email = document.forms["signupForm"]["email"].value;
                    if (!email || email.trim().length == 0) {
                        new Message("Enter your email address, then you can request a code", 'warning', 5000);
                    } else {
                        $.post('/login/confirm', {
                                email: email
                            },
                            function(data) {
                                if (data.success) {
                                    new Message("A Request Code was sent to " + data.email, 'success', 5000);
                                } else {
                                    new Message("Failed to send Request Code: " + data.reason, 'error', 5000);
                                }
                            })
                    }
                })
            });

            function validateSignupFields() {
                if (document.forms["signupForm"]["password2"].value != pwd) {
                    new Message("Passwords do not match!", 'error', 5000);
                } else {
                    grecaptcha.execute();
                }
            }

            var onloadCallback = function() {
                console.log("CAPTCHA");
                grecaptcha.render(document.getElementById('signUpCaptcha'), {
                    'sitekey': '6Lf6VSYUAAAAANpb9jQ36-_gSlbGYuj3itvUORy-',
                    'theme': 'dark'
                });

                grecaptcha.render(document.getElementById('signInCaptcha'), {
                    'theme': 'dark',
                    'sitekey': '6Lf6VSYUAAAAANpb9jQ36-_gSlbGYuj3itvUORy-'
                });
            }
        </script>

        <script>
        // Hovering stuff
            (function() {
                [].slice.call(document.querySelectorAll('input.input__field')).forEach(function(inputEl) {
                    // in case the input is already filled..
                    if (inputEl.value.trim() !== '') {
                        classie.add(inputEl.parentNode, 'input--filled');
                    }

                    // events:
                    inputEl.addEventListener('focus', onInputFocus);
                    inputEl.addEventListener('blur', onInputBlur);
                });

                function onInputFocus(ev) {
                    classie.add(ev.target.parentNode, 'input--filled');
                }

                function onInputBlur(ev) {
                    if (ev.target.value.trim() === '') {
                        classie.remove(ev.target.parentNode, 'input--filled');
                    }
                }

            })();
        </script>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    </body>

</html>
