<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="styles/signup_page.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">

  <!--Google Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
  <title>Signup for Musicoin</title>
  <style>
    .hidden {
      visibility: hidden;
    }
    .visible {
      visibility: visible;
    }
  </style>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="wb:webmaster" content="388a22fbc545b0b0" />
<link rel="stylesheet" href="/dependencies/messg-2.1.0/index.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" />
<link rel="shortcut icon" href="/favicon.ico">

<script src="/dependencies/jquery/js/jquery-3.1.1.js"></script>
<script src="/dependencies/jquery/js/jquery-ui.js"></script>
<script src="/dependencies/bootstrap/js/bootstrap.min.js"></script>
<script src="/dependencies/messg-2.1.0/index.js"></script>
<script src="/dependencies/prefixfree/prefixfree.min.js"></script>


<script src="/js/dynamic-elements.js"></script>
<script src="/js/tips.js"></script>
<script src="/js/following.js"></script>
<script src="/js/track-messages.js"></script>
<script src="/js/more.js"></script>
<script src="/js/hero.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/format.js"></script>
<script src="/js/auto-complete.js"></script>

<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-92055754-1', 'auto');
  ga('send', 'pageview');
</script>

<body>

  <div id="wrapper" class="signup-wrapper">
      <div id="header">
          <img src="/images/Logo.svg" height="90px" alt="Musicoin Logo" />
          <div id="role-selector" class="container">
              <div class="row">
              </div>
          </div>
      </div>
      <div id="social-signup">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-md-push-4">
                      <div class="row">
                          <div class="col-md-12">
                              <a href="/signup/twitter" class="twitter">Sign up with Twitter</a>
                          </div>
                          <div class="col-md-12">
                              <a href="/signup/facebook" class="facebook">Sign up with Facebook</a>
                          </div>
                          <div class="col-md-12">
                              <a href="/signup/google" class="google">Sign up with Google</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div id="email-signup">
          <div class="container">
              <div class="row">
                <h2 class="hdr-l">Musicians need to use social sign-up for verification</h2>
                  <strong class="line-thru">or</strong>
                  <h2 class="hdr-l">if you're a listener, <br> sign up with your email address or social account</h2>

                  <div class="col-md-6 col-md-push-3">
                      <form name="signupForm" class="signup" action="/signup" target=_top method="post"
                            onsubmit="return validateSignupFields()">
                          <input class="hidden" name="attribute" type="text" id="attr1" value="musician" />
                          <div id="hidethis">
                          <span class="input input--hoshi">
                              <input class="input__field input__field--hoshi" type="text" id="screenname" name="name" required />
                              <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="name">
                                  <span class="input__label-content input__label-content--hoshi">Name</span>
                              </label>
                          </span>

                          <span class="input input--hoshi">
                              <input class="input__field input__field--hoshi" type="text" id="email" name="email" required/>
                              <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="email">
                                  <span class="input__label-content input__label-content--hoshi">E-mail</span>
                              </label>
                          </span>

                          <span class="input input--hoshi">
                              <input class="input__field input__field--hoshi" type="password" id="password" name="password" required/>
                              <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="password">
                                  <span class="input__label-content input__label-content--hoshi">Password</span>
                              </label>
                          </span>
                          <span class="input input--hoshi input__label-content" style="display: inline-block" id ="passworddetail">Password must contain a minimum of <br> 10 characters,<br>1 Special character & 1 letter from both cases</span>

                          <span class="input input--hoshi">
                              <input class="input__field input__field--hoshi" type="password" id="password1" name="password2" required/>
                              <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="password1">
                                  <span class="input__label-content input__label-content--hoshi">Repeat Password</span>
                              </label>
                          </span>

                          <span class="input input--hoshi">
                              <input class="input__field input__field--hoshi" type="text" id="screenname" name="confirmation" required />
                              <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="name">
                                  <span class="input__label-content input__label-content--hoshi">Confirmation Code</span>
                              </label>
                          </span>

                          <span id="confirm" class="crazy1">Get a code</span>

                          <div id="signUpCaptcha" class="mt20" style=""></div>

                          <div class="cta">
                              <button type="submit" class="btn btn-primary pull-left" id="signUpButton">Sign Up</button>
                          </div>
                        </div>
                        <a id="signin-button" style="position: relative; left: 180px" href="#">Already have an account?</a>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div id="wrapper" class="signin-wrapper hidden">
      <div id="header">
        <img src="/images/Logo.svg" height="90px" alt="Musicoin Logo" />
      </div>
      <div id="social-signup">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-md-push-4">
                      <div class="row">
                          <div class="col-md-12">
                              <a href="/auth/twitter" class="twitter">Log in using Twitter</a>
                          </div>
                          <div class="col-md-12">
                              <a href="/auth/facebook" class="facebook">Log in using Facebook</a>
                          </div>
                          <div class="col-md-12">
                              <a href="/auth/google" class="google">Log in using Google</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div id="email-signup">
          <div class="container">
              <div class="row">
                <strong class="line-thru">or</strong>
                <h2 class="hdr-l">Log in with your email address</h2>

                  <div class="col-md-6 col-md-push-3">
                      <form name="loginForm" class="signin" action="/signin/newroutethat" target=_top method="post">

                          <span class="input input--hoshi">
                              <input class="input__field input__field--hoshi" type="text" id="email" name="email" required/>
                              <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="email">
                                  <span class="input__label-content input__label-content--hoshi">E-mail</span>
                              </label>
                          </span>

                          <span class="input input--hoshi">
                              <input class="input__field input__field--hoshi" type="password" id="password" name="password" required/>
                              <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="password">
                                  <span class="input__label-content input__label-content--hoshi">Password</span>
                              </label>
                          </span>
                          <a class="crazy" href="/login/forgot">Forgot Password</a>
                          <div id="signInCaptcha" class="mt20"></div>

                          <div class="cta">
                              <button type="submit" class="btn btn-primary" id="signInButton" data-sitekey="6LeXVh8UAAAAAEWUGDhYBu0CHgmQbpeJkCeWNlrU">Sign-In Now</button>
                          </div>

                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Scripts -->
  <script src="js/scripts.js"></script>
  <script src="js/classie.js"></script>
  <script>
    <% if (message.length > 0) { %>
    new Message("<%=message%>", 'warning', 5000);
    <% } %>
    $(document).ready(function() {
      $("#confirm").on('click', function() {
        var email = document.forms["signupForm"]["email"].value;
        if (!email || email.trim().length == 0) {
          new Message("Enter your email address, then you can request a code", 'warning', 5000);
        } else {
          $.post('/login/confirm', {
              email: email
            },
            function(data) {
              if (data.success) {
                new Message("A Request Code was sent to " + data.email, 'success', 5000);
              } else {
                new Message("Failed to send Request Code: " + data.reason, 'error', 5000);
              }
            })
        }
      });
        $("#signin-button").on('click', function(e){
            e.preventDefault();
            $(".signin-wrapper").toggleClass("hidden");
            $(".signup-wrapper").toggleClass("hidden");
        });
        $("#signup-button").on('click', function(e){
            e.preventDefault();
            $(".signup-wrapper").toggleClass("hidden");
            $(".signin-wrapper").toggleClass("hidden");
        });
    });

    function validateSignupFields() {
      if (document.forms["signupForm"]["password2"].value != pwd) {
        new Message("Passwords do not match!", 'error', 5000);
      } else {
        grecaptcha.execute();
      }
    }

    var onloadCallback = function() {
      grecaptcha.render(document.getElementById('signUpCaptcha'), {
        'sitekey': '6LeXVh8UAAAAAEWUGDhYBu0CHgmQbpeJkCeWNlrU',
        'theme': 'light'
      });

      grecaptcha.render(document.getElementById('signInCaptcha'), {
        'theme': 'light',
        'sitekey': '6LeXVh8UAAAAAEWUGDhYBu0CHgmQbpeJkCeWNlrU'
      });
    }
    $('#passworddetail').css('display', 'none');
    $('#password').on('focus', function(){
      $('#passworddetail').css('visibility', 'visible');
      $('#passworddetail').css('display', 'block');

    });

    $('#password').on('focusout', function(){
      $('#passworddetail').css('visibility', 'hidden');
      $('#passworddetail').css('display', 'none');
    });

  </script>

  <script>
    // Hovering stuff
    (function() {
      [].slice.call(document.querySelectorAll('input.input__field')).forEach(function(inputEl) {
        // in case the input is already filled..
        if (inputEl.value.trim() !== '') {
          classie.add(inputEl.parentNode, 'input--filled');
        }

        // events:
        inputEl.addEventListener('focus', onInputFocus);
        inputEl.addEventListener('blur', onInputBlur);
      });

      function onInputFocus(ev) {
        classie.add(ev.target.parentNode, 'input--filled');
      }

      function onInputBlur(ev) {
        if (ev.target.value.trim() === '') {
          classie.remove(ev.target.parentNode, 'input--filled');
        }
      }
    })();
  </script>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</body>

</html>
