<!doctype html>
<html>
<head>
    <title>Welcome - Musicoin</title>
    <%- include partials/page-head.ejs %>
    <style>
        body {
            word-wrap:break-word;
            background-image: url(images/new-user.jpeg);
            /*background-color: #7bbcde;*/
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
            color: rgba(255,255,255,0.8);

        }

        a {
            text-shadow: none;
        }

        a:hover {
            color: inherit;
        }


        .container {
            width: 100%;
            height: 100%;
            position: relative;
        }

        input {
            width: 300px;
            padding: 10px;
            border: none;
            border-radius: 4px;
            font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
            font-size: 18px;
        }

        h1, h3 {
            text-shadow: 1px 2px rgba(0,0,0,0.5);
        }

        .new-user-name {
            color: black;
        }
    </style>
</head>
<body>
<%- include('partials/header.ejs', {isAuthenticated: false}) %>
<style>
    .background-cover {
        background-color: rgba(0,0,0,0.5);
    }
    .subtle-text {
        color: white;
    }
</style>
<div class="container">
    <div class="text-center">
        <h1>Hello</h1>
        <h3>Enter a profile name to get started</h3>

        <form id=profileForm action="/profile/save" enctype="multipart/form-data"  method="post">
            <div class="form-group">
                <input type="text" class=new-user-name name="artistName"  placeholder="e.g. a user name or band name">
                <input type="hidden" name="isNewUserPage" value="true">
            </div>
            <div class="btn btn-success btn-lg" onclick="profileForm.submit()">Next</div>
        </form>
    </div>
</div>
</body>
</html>