<!doctype html>
<html>
<head>
    <title>Musicoin</title>
    <link rel="alternate" type="application/json+oembed"
          href="https://musicoin.org/services/oembed?url=https%3A%2F%2Fmusicoin.org%2Fnav%2Ftrack%2F0x28e4f842f0a441e0247bdb77f3e10b4a54da2502&format=json"
          title="Musicoin.org oEmbed Profile" />
</head>
<body>
    Test page for oEmbed.  There is nothing to see here.
</body>
</html>
