<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../styles/signup_page.css">
    <style>
        .left-side{
            background: #000 url('../images/forgot.jpg') no-repeat center;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">

    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Reset Password</title>
</head>
<%- include partials/page-head.ejs %>
<%
if (typeof code == "undefined") code = null;
if (typeof message == "undefined") message = "";
%>

    <body>
        <div id="main-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 left-side">
                        <header>
                            <h3 id="logo">No Worries</h3>
                            <span>We All Forget</span>
                        </header>
                    </div>
                    <div class="col-md-6 right-side">
                        <h3 id="heading"><a href="https://musicoin.org" class="href1">musicoin</a> </h3>
                        <form name="resetForm" class="signup" action="/login/forgot" method="post" onsubmit="return validateEmail()" target=_top method="post">
                            <span class="input input--hoshi">
                      <input class="input__field input__field--hoshi" type="text" name="email" required />
                      <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="name">
                        <span class="input__label-content input__label-content--hoshi">Email</span>
                            </label>
                            </span>
                            <div class="cta">
                                <button type="submit" class="btn btn-primary pull-left" id="signUpButton">Reset Password</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        </script>
        <!-- end #main-wrapper -->

        <!-- Scripts -->

        <script src="../js/scripts.js"></script>
        <script src="../js/classie.js"></script>

        <script>
            <% if (message.length > 0) { %>
            new Message("<%=message%>", 'warning', 5000);
            <% } %>


            function validateEmail() {
              var email = document.forms["resetForm"]["email"].value;
              if (!email || email.trim().length == 0) {
                new Message("Please provide an email address");
                return false;
              }
            }
        </script>
        <script>
            // Hovering stuff
            (function() {
                [].slice.call(document.querySelectorAll('input.input__field')).forEach(function(inputEl) {
                    // in case the input is already filled..
                    if (inputEl.value.trim() !== '') {
                        classie.add(inputEl.parentNode, 'input--filled');
                    }

                    // events:
                    inputEl.addEventListener('focus', onInputFocus);
                    inputEl.addEventListener('blur', onInputBlur);
                });

                function onInputFocus(ev) {
                    classie.add(ev.target.parentNode, 'input--filled');
                }

                function onInputBlur(ev) {
                    if (ev.target.value.trim() === '') {
                        classie.remove(ev.target.parentNode, 'input--filled');
                    }
                }

            })();
        </script>
    </body>

</html>
