<!doctype html>
<html>
<head>
    <title>Terms Of Use - Musicoin</title>
    <%- include partials/page-head.ejs %>
    <style>
        body        {
            word-wrap:break-word;
            background-image: url('/images/musician.jpg');
            background-size: cover;
        }
    </style>
</head>
<body>
<%- include partials/header.ejs %>
<div class="container">
    <div class="page-header">
        <h1>Terms of Use</h1>
    </div>
    <div class="row">
        <div class="well">
        </div>
    </div>
</div>
</body>
</html>