<!doctype html>
<html>
<head>
    <title>Musicoin</title>
    <%- include partials/page-head.ejs %>
    <style>
        body {
            word-wrap:break-word;
            background-image: url(images/concert.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
            color: rgba(255,255,255,0.8);
        }

        .info-text {
            --x-height-multiplier: 0.35;
            --baseline-multiplier: 0.179;
            font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
            letter-spacing: .01rem;
            font-weight: 400;
            font-style: normal;
            font-size: 21px;
            line-height: 1.58;
            margin: 20px;
        }
    </style>
</head>
<body>
<%- include partials/header.ejs %>
<style>
    .background-cover {
        background-color: rgba(0,0,0,0.5);
    }
</style>

<% if (hasInvite && !inviteClaimed) { %>
<div class="container well white-well" style="position: relative">
    <div class="text-large flex-column center-text">
        <img src="/images/logo.png" width="300px">
        <div>Welcome!</div>
    </div>

    <p class="info-text">
        Congratulations, you're nearly ready to become part of the world's
        first blockchain designed specifically for licensing and consuming music.

    <p class="info-text center-text">
        Claim your invite by signing in below

    <div class="flex-row center-text">
        <div class="mr5"><a href="/auth/google" class="btn btn-danger btn-sm"><span class="fa fa-google-plus text-large"><span class="big-screen-only"> Google</span></span></a></div>
        <div class="mr5"><a href="/auth/twitter" class="btn btn-info btn-sm"><span class="fa fa-twitter text-large"><span class="big-screen-only">  Twitter</span></span></a></div>
        <div class="mr5"><a href="/auth/facebook" class="btn btn-primary btn-sm disabled"><span class="fa fa-facebook text-large"><span class="big-screen-only"> Facebook</span></span></a></div>
        <div class="mr5"><a href="/login" class="btn btn-sm btn-default"><span class="fa fa-envelope-o text-large"><span class="big-screen-only"> Email</span></span></a></div>
        <!--<div><a href="/auth/soundcloud" class="btn btn-soundcloud btn-sm"><span class="fa fa-soundcloud text-large"> Soundcloud</span></a></div>-->
    </div>
    <p class="subtle-text center-text">Make sure you use the same method each time.
    <div class="alert alert-danger text-center">We are currently experiencing an issue with Facebook login, please select another method or try again later.</div>
</div>
<% } else { %>
<div class="container well white-well" style="position: relative">
    <div class="text-large flex-column center-text">
        <img src="/images/logo.png" width="300px">
        <div>Welcome!</div>
    </div>

    <p class="info-text center-text">
        Please sign in

    <div class="flex-row center-text">

        <div class="mr5"><a href="/auth/google" class="btn btn-danger btn-sm"><span class="fa fa-google-plus text-large"><span class="big-screen-only"> Google</span></span></a></div>
        <div class="mr5"><a href="/auth/twitter" class="btn btn-info btn-sm"><span class="fa fa-twitter text-large"><span class="big-screen-only"> Twitter</span></span></a></div>
        <div class="mr5"><a href="/auth/facebook" class="btn btn-primary btn-sm"><span class="fa fa-facebook text-large"><span class="big-screen-only"> Facebook</span></span></a></div>
        <div class="mr5"><a href="/login" class="btn btn-sm btn-default"><span class="fa fa-envelope-o text-large"><span class="big-screen-only"> Email</span></span></a></div>
    </div>
    <p class="subtle-text center-text">Make sure you use the same method each time.
    <div class="alert alert-danger text-center">We are currently experiencing an issue with Facebook login and we are working to resolve the issue.  Thank you for your patience.</div>
</div>
<% } %>

<%- include partials/connect-with-us.ejs %>
</body>
</html>