<style>
    .links {
        list-style-type: none;
        display: flex;
        font-size: 24px;
        justify-content: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h5 class="subtle-text">Connect with us</h5>
            <div class="links text-center">
                <li><a class="pad5 subtle-text" href="http://slack.musicoin.org/" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                <li><a class="pad5 subtle-text" href="https://twitter.com/musicoins" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a class="pad5 subtle-text" href="https://github.com/musicoin" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a class="pad5 subtle-text" href="mailto:musicoin@musicoin.org"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                <li><a class="pad5 subtle-text" href="https://medium.com/@musicoin" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
            </div>
            <div style="position: absolute; left: 10px">
                Designed by the <b>Musicoin project</b>, © 2017 <br> Site best viewed on Chrome on macOS
            </div>
        </div>
    </div>
</div>
