<style>
    .header {
        display: flex;
        flex-direction: row;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        background-color: rgba(255,255,255,0.1);
    }
    .logo_image {
        height: 50px;
        vertical-align: middle;
        margin-top: -6px;
    }
    .sign-in {
        height: 30px;
        vertical-align: middle;
        margin-top: -6px;
    }
    .header-fill {
        flex-grow: 1;
    }
    .header-menu-item {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.5em;
        font-family: monospace;
        color: #aaa;
        cursor: pointer;
    }
    .header-menu-item:hover {
        text-decoration: underline;
    }
    .header-nav {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        padding-right: 20px;
    }
    .brand-logo {
        font-size: 2em;
        font-family: monospace;
        color: #aaa;
    }
</style>
<div class="header">
    <a id="logo-container" href="/" class="brand-logo mont">musicoin.org </a>
    <div>
        <% if (isAuthenticated) { %>
        <a href="/logout" class="btn btn-default btn-sm">logout</a>
        <% } else { %>
        <a href="/auth/google" class="btn btn-danger btn-sm"><span class="fa fa-google-plus"></span> sign in</a>
        <% } %>
    </div>
</div>
<div class="header-nav">
    <% if (isAuthenticated) { %>
    <a href="/profile" class="header-menu-item">profile</a>
    <%}%>
    <a class="header-menu-item">songs</a>
    <a class="header-menu-item">artists</a>
</div>