<style>
    .header {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        /*background-color: rgba(255,255,255,0.1);*/
    }
    .logo_image {
        height: 32px;
        vertical-align: middle;
        margin-top: -6px;
    }
    .sign-in {
        height: 30px;
        vertical-align: middle;
        margin-top: -6px;
    }
    .header-fill {
        flex-grow: 1;
    }
    .header-menu-item {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.5em;
        color: #aaa;
        cursor: pointer;
    }
    .header-menu-item-personal {
    }
    .header-menu-item:hover {
        text-decoration: underline;
    }
    .header-nav {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        margin-bottom: 20px;
    }
    .brand-logo {
        font-size: 2em;
        margin-right: 20px;
        color: inherit;
    }
    .background-cover {
        background-color: rgba(0,0,0,0.9);
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: -1;
    }
    .header-separator {
        border-right: 1px solid #aaa;
        margin-left: 10px;
        margin-right: 10px;
    }
    .flex-row {
        display: flex;
        align-items: center;
    }
    .user-badge-image {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 5px;
    }

    .trigger {
    }
    .popoverContentContainer {
        position:relative;
        top: 0px;
        left: 0px;
        width: 100%;
    }
    #optionMenu,
    .optionView {
        display: flex;
        flex-direction: column;
    }
    #optionMenu button,
    #optionMenu a {
        width:100%;
        margin:5px 0;
    }
    .optionView button {
        float:left;
    }
    .popover {
        width:400px;
    }
    .popover-inner {
        position:relative;
    }
    .popover-title {
        text-align:center;
        color:#555;
    }

    .admin-area {
        color: black;
        background-color: #fee;
        margin-top: 20px;
    }

</style>
<div class="background-cover"></div>
<!-- The Modal -->
<div id="thread-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content"></div>
</div>

<div class="header">
    <div>
        <a id="logo-container" href="/feed" class="brand-logo mont"><img src="/images/icon.png" width="32px" height="32px"></a>
        <a id="logo-container" href="/feed" class="brand-logo mont plain big-screen-only">
            musicoin
        </a>
    </div>

    <div class="flex-row">
        <% if (isAuthenticated) { %>
            <div style="width:20px"></div>
            <!--<a href="/faq" class="header-menu-item"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>-->
            <a href="/main" class="header-menu-item"><i class="fa fa-compass" aria-hidden="true"></i></a>
            <a href="/browse" class="header-menu-item"><i class="fa fa-search" aria-hidden="true"></i></a>
            <div style="width:20px"></div>

            <div class="popover-markup" style="display:inline;">
                <a href="#" class="trigger">
                    <div class="user-badge-image" style="background-image: url('<%=user.profile.image%>')" small></div>
                </a>
                <div class="head hide"><%=user.profile.artistName%></div>
                <div class="content hide">
                    <div class="popoverContentContainer">
                        <div id="optionMenu">
                            <a href="/profile" class="btn btn-default">profile</a>
                            <a href="/logout" target="_top" class="btn btn-danger">sign out</a>
                        </div>

                        <% if(!user.google.token || !user.twitter.token || !user.facebook.token) { %>
                        <div class="center-text subtle-text flex-column mb5">
                            <div>Link another account (<a class=text-small href="/faq#WhyLinkAccounts">why?</a>)</div>
                            <div class="flex-row center-text">
                                <% if(!user.google.token) { %>
                                <div class="mr5"><a href="/connect/google" target="_top" class="btn btn-danger btn-sm"><span class="fa fa-google-plus"></span></a></div>
                                <% } %>

                                <% if(!user.twitter.token) { %>
                                <div class="mr5"><a href="/connect/twitter" target="_top" class="btn btn-info btn-sm"><span class="fa fa-twitter"></span></a></div>
                                <% } %>

                                <% if(!user.facebook.token) { %>
                                <div class="mr5"><a href="/connect/facebook" target="_top" class="btn btn-primary btn-sm"><span class="fa fa-facebook"></span></a></div>
                                <% } %>

                                <% if(!user.local.id) { %>
                                <div class="mr5"><a href="/connect/email" target="_top" class="btn btn-default btn-sm"><span class="fa fa-envelope-o"></span></a></div>
                                <% } else { %>
                                <div class="mr5"><a href="/connect/email" target="_top" class="btn btn-default btn-sm"><span class="fa fa-envelope-o"></span></a></div>
                                <% } %>
                            </div>
                        </div>
                        <% } %>

                        <% if (typeof isAdmin != "undefined" && isAdmin) { %>
                        <div class="admin-area">
                            <div class="text-normal text-center">Admin Functions</div>
                            <div class="flex-row">
                                <a href="/admin/errors" class="header-menu-item text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
                                <a href="/admin/invite-requests" class="header-menu-item text-danger"><i class="fa fa-list" aria-hidden="true" title="waiting list"></i></a>
                                <a href="/admin/users" class="header-menu-item text-danger"><i class="fa fa-users" aria-hidden="true" title="users"></i></a>
                                <a href="/admin/contacts" class="header-menu-item text-danger"><i class="fa fa-address-card" aria-hidden="true"></i></a>
                                <a href="/admin/overview" class="header-menu-item text-danger" title="admin"><i class="fa fa-pie-chart" aria-hidden="true"></i></a>
                                <a href="/admin/su" class="header-menu-item text-danger" title="log in as...">su</a>
                            </div>
                        </div>
                        <% } %>

                        <!--<% if(user.google.id || user.twitter.id || user.facebook.id) { %>-->
                        <!--<div class="center-text subtle-text flex-column">-->
                            <!--<a onclick='$("#unlink").toggle()' class="clickable">Want to unlink an account?</a>-->
                            <!--<div id=unlink class="flex-row center-text" style="display: none">-->
                                <!--<% if(user.google.token) { %>-->
                                <!--<div class="mr5"><a href="/unlink/google" target="_top" class="btn btn-danger btn-sm"><span class="fa fa-google-plus"></span></a></div>-->
                                <!--<% } %>-->

                                <!--<% if(user.twitter.token) { %>-->
                                <!--<div class="mr5"><a href="/unlink/twitter" target="_top" class="btn btn-info btn-sm"><span class="fa fa-twitter"></span></a></div>-->
                                <!--<% } %>-->

                                <!--<% if(user.facebook.token) { %>-->
                                <!--<div class="mr5"><a href="/unlink/facebook" target="_top" class="btn btn-primary btn-sm"><span class="fa fa-facebook"></span></a></div>-->
                                <!--<% } %>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<% } %>-->
                    </div>
                </div>
            </div>
            <div class="ml10" title="my balance">
                <a href="/profile" class="plain">
                    <span class="text-large"><%= user.formattedBalance%></span> <span class="subtle-text">MC</span>
                </a>
            </div>
        <% } else { %>
        <!--<div class="mr5 text-middle">Sign in</div>-->
        <!--<div class="mr5"><a href="/auth/google" class="btn btn-danger btn-sm"><span class="fa fa-google-plus"></span></a></div>-->
        <!--<div class="mr5"><a href="/auth/twitter" class="btn btn-info btn-sm"><span class="fa fa-twitter"></span></a></div>-->
        <!--<div class="mr5"><a href="/auth/facebook" class="btn btn-primary btn-sm"><span class="fa fa-facebook"></span></a></div>-->
        <!--<div class="mr5"><a href="/auth/soundcloud" class="btn btn-soundcloud btn-sm"><span class="fa fa-soundcloud"></span></a></div>-->
        <% } %>
    </div>
</div>

<script>
  $( document ).ready(function() {
    $('.optionView').hide();

    $(document).on('change', '#messagePreference', function () {
      var checked = $("#messagePreference")[0].checked;
      if (checked) {
        $("#messagePreference").attr("checked", "true");
      }
      else {
        $("#messagePreference").removeAttr("checked");
      }
      var newHTML = $(this).closest('.popover-content').html();
      $.post("/preferences/update", {
        notifyOnComment: checked
      }, function (data) {
        if (data.success) {

        }
        else {
          new Message("Failed to update preferences", "error", 3000);
          $("#messagePreference")[0].checked = !checked;
        }
      })
    })

    // Popover
    $(function(){
      $('.popover-markup > .trigger').popover({
        html: true,
        placement: "bottom",
        title: function () {
          return $(this).parent().find('.head').html();
        },
        content: function () {
          return $(this).parent().find('.content').html();
        },
        template: '<div class="popover dashboardPopover"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"></div></div></div>'
      });
    });
  });
</script>