<style>
    .header {
        display: flex;
        flex-direction: row;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        background-color: rgba(255,255,255,0.1);
    }
    .logo_image {
        height: 50px;
        vertical-align: middle;
        margin-top: -6px;
    }
    .sign-in {
        height: 30px;
        vertical-align: middle;
        margin-top: -6px;
    }
    .header-fill {
        flex-grow: 1;
    }
    .header-menu-item {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.5em;
        color: #aaa;
        cursor: pointer;
    }
    .header-menu-item-personal {
    }
    .header-menu-item:hover {
        text-decoration: underline;
    }
    .header-nav {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        margin-bottom: 20px;
    }
    .brand-logo {
        font-size: 2em;
        margin-right: 20px;
        color: inherit;
    }
    .background-cover {
        background-color: rgba(0,0,0,0.9);
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: -1;
    }
    .header-separator {
        border-right: 1px solid #aaa;
        margin-left: 10px;
        margin-right: 10px;
    }
    .flex-row {
        display: flex;
        align-items: center;
    }
    .user-badge-image {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 5px;
    }
</style>
<div class="background-cover"></div>
<div class="header">
    <div>
        <a id="logo-container" href="/main" class="brand-logo mont"><img src="/images/icon.png" width="48px" height="48px"></a>
        <a id="logo-container" href="/main" class="brand-logo mont big-screen-only">
            musicoin
        </a>
    </div>

    <div class="flex-row">
        <% if (isAuthenticated) { %>
            <a href="/faq" class="header-menu-item"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
            <a href="/browse" class="header-menu-item"><i class="fa fa-search" aria-hidden="true"></i></a>
            <div style="width:20px"></div>
            <%  if (user.profile.image) { %>
            <a href="/profile">
                <div class="user-badge-image" style="background-image: url('<%=user.profile.image%>')" small></div>
            </a>
            <%  } %>

            <div>
                <a href="/logout" target="_top" class="btn btn-default btn-sm">logout</a>
            </div>
        <% } else { %>
        <!--<div class="mr5 text-middle">Request an Invite</div>-->
        <!--<div class="mr5"><a href="/auth/google" class="btn btn-danger btn-sm"><span class="fa fa-google-plus"></span></a></div>-->
        <!--<div><a href="/auth/twitter" class="btn btn-info btn-sm"><span class="fa fa-twitter"></span></a></div>-->
        <% } %>
    </div>
</div>
<div class="header-nav">
    <div class="flex-row">
    </div>
    <div class="flex-row">
    </div>
</div>