<style>
    .header {
        display: flex;
        flex-direction: row;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        background-color: rgba(255,255,255,0.1);
    }
    .logo_image {
        height: 50px;
        vertical-align: middle;
        margin-top: -6px;
    }
    .sign-in {
        height: 30px;
        vertical-align: middle;
        margin-top: -6px;
    }
    .header-fill {
        flex-grow: 1;
    }
    .header-menu-item {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.5em;
        font-family: monospace;
        color: #aaa;
        cursor: pointer;
    }
    .header-menu-item-personal {
        color: #d4c39f
    }
    .header-menu-item:hover {
        text-decoration: underline;
    }
    .header-nav {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        padding-right: 20px;
    }
    .brand-logo {
        font-size: 2em;
        font-family: monospace;
        color: #aaa;
        margin-right: 20px;
    }
    .background-cover {
        background-color: rgba(0,0,0,0.9);
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: -1;
    }
    .header-separator {
        border-right: 1px solid #aaa;
        margin-left: 10px;
        margin-right: 10px;
    }
    .flex-row {
        display: flex;
    }
</style>
<div class="background-cover"></div>
<div class="header">
    <div>
        <a id="logo-container" href="/" class="brand-logo mont"><img src="/images/icon.png" width="48px" height="48px"></a>
        <a id="logo-container" href="/" class="brand-logo mont big-screen-only">
            musicoin.org (alpha)
        </a>
    </div>

    <div class="flex-row">
        <% if (isAuthenticated) { %>
        <a href="/logout" class="btn btn-default btn-sm">logout</a>
        <% } else { %>
        <a href="/auth/google" class="btn btn-danger btn-sm"><span class="fa fa-google-plus"></span> sign in</a>
        <% } %>
    </div>
</div>
<div class="header-nav">
    <div class="flex-row">
        <a class="header-menu-item" href="/api">api</a>
        <a class="header-menu-item" href="/faq">faq</a>
    </div>
    <div class="flex-row">
        <% if (isAuthenticated) { %>
        <a class="header-menu-item">browse</a>
        <div class="header-separator"></div>
        <a href="/profile" class="header-menu-item header-menu-item-personal">my profile</a>
        <%}%>
    </div>
</div>