<div class="container">
    <div class="col-sm-6">
        <div class="well white-well">
            <div class="text-center">
                <img src="images/microphone.png" height="96px">
            </div>
            <h3 class="section-header">
                musicians
            </h3>
            <p>
                Imagine being <strong>paid instantly for each playback</strong> and having a community of
                listeners that value your work. On the Musicoin network, you can share your
                music and find your audience. Stop collecting "Likes" and start collecting fans
                that will support you with real value.
            </p>
            <% if (!isAuthenticated) { %>
            <BR>
            <h4 class="text-center">Ready to change the world?</h4>
            <p class="text-center">
                <a href="/auth/google" class="btn btn-danger btn-sm"><span class="fa fa-google-plus"></span> join</a>
            </p>
            <% } %>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="well white-well">
            <div class="text-center">
                <img src="images/headphones.jpg" height="96px">
            </div>
            <h3 class="section-header">music lovers
            </h3>
            <p>
                Support your favorite musicians directly, just by listening. Whenever you listen to
                a song, a small payment is sent <strong>directly from you to the artist</strong>, instantly. Unlike the
                old model, where the artist receives only a small percentage (eventually), artists
                can instantly see the impact of their music.
            </p>
            <% if (!isAuthenticated) { %>
            <BR>
            <h4 class="text-center">Join the movement.</h4>
            <p class="text-center">
                <a href="/auth/google" class="btn btn-danger btn-sm"><span class="fa fa-google-plus"></span> join</a>
            </p>
            <% } %>
        </div>
    </div>
</div>