<div class="hearts"></div>
<script>
  $( document ).ready(function() {
    var _audioPlayer = parent.document.getElementById("playerFrame");
    if (!_audioPlayer && !window.location.pathname.startsWith("/nav")) {
      window.location = '/nav' + window.location.pathname + window.location.search;
    }

    $(document).on('click', '.audio-track', function() {
      var item = $(this);
      var that = this;
      console.log("Getting details for " + item.attr("licenseAddress"))
      var _audioPlayer = parent.document.getElementById("playerFrame").contentWindow.audioPlayer;
      $.get( "/json-api/track/" + item.attr("licenseAddress"), function( data ) {
        var result = _audioPlayer.playItem(that,
          data.audioUrl,
          data.title,
          data.artistName,
          data.image,
          data.playCount,
          data.tipCount,
          data.artistProfileAddress,
          data.address
        )
        if (result) {
          new Message("This playback was paid for by Musicoin.org!", "success", 5000)
            .button("Why?", () => {
              window.location = "/faq#WhyFreePlays";
            })
        }
      });
    });
  });
</script>