<style>
    body {
        color: black;
    }

    .play-queue {
        padding-top: 10px;
        margin-left: 20px;
        background-color: whitesmoke;

        display: flex;
        flex-direction: column;

        max-width: 370px;
    }

    .play-queue .large-track-image {
        background-size: cover;
        width: 256px;
        height: 256px;
        max-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px;
    }

    .play-queue .track-detail-area {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 325px;
        padding-left: 10px;
    }

    .play-queue .track-image-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .play-queue .artist-image {
        min-width: 48px;
        width: 48px;
        height: 48px;
        margin-right: 5px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }

    .play-queue .title-and-artist {
        display: flex;
        flex-direction: column;
        max-width: 250px;
    }

    .play-queue .artist-name {
        color: #aaa
    }

    .play-queue table.play-queue-table td {
        padding: 5px;
    }

    .play-queue table .track-title-cell {
        max-width: 300px;
    }

    .play-queue .track-title {
        font-weight: bold;
    }

    .play-queue .queue-item-action {
        width: 28px;
    }

    .play-queue .queue-item-action i {
        cursor: pointer;
    }

    .play-queue .play-queue-table {
        width: 100%;
    }

    .play-queue tr.active {
        background-color: #faf2af;
        transform: scale(1.05);
        box-shadow: 0 0 16px -4px black;
    }

    .play-queue .up-next-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
    }

    /* Shared style, would normally be found in some included file */
    .mt20 {  margin-top: 20px;  }
    .mb10 {  margin-bottom: 10px;  }
    .ml30 {  margin-left: 30px;  }
    .text-large {  font-size: 1.5em;  }
    .crop-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    i.verified {
        width: 24px;
        height: 24px;
        background-image: url("/images/verified.png");
        background-size: contain;
        background-position: center center;
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
    }

    i.verified.large {
        width: 32px;
        height: 32px;
    }

    .clickable {
        cursor: pointer;
    }


</style>

<div class="play-queue">
    <div class="track-image-container">
        <div class="large-track-image mb10"
             style="background-image: url('/images/landing.jpg')">
        </div>
    </div>

    <div class="track-detail-area">
        <div class="artist-image" style="background-image: url('/images/sample-artist.png')"></div>
        <div class="title-and-artist">
            <span class="crop-text track-title">This is the track I'm playing</span>
            <span class="crop-text text-muted">
                by <span class="artist-name">Some artist</span>
                <i class="verified" title="verified user"></i>
            </span>
        </div>
    </div>

    <div class="up-next-section mt20">
        <div class="text-large">Up Next</div>
        <i class="fa fa-random ml30 text-large text-muted clickable" aria-hidden="true"></i>
    </div>


    <table class="play-queue-table">
        <tr>
            <td class="queue-item-action"><i class="fa fa-play-circle text-large" aria-hidden="true"></i></td>
            <td class="crop-text track-title-cell" nowrap>
                <span class="track-title">Some track</span>
                <div class="text-muted">by <span class="track-artist">Some artist</span></div>
            </td>
            <td class="queue-item-action"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
        </tr>

        <tr>
            <td class="queue-item-action"><i class="fa fa-play-circle text-large" aria-hidden="true"></i></td>
            <td class="crop-text track-title-cell">
                <span class="track-title">Some track with a really long name so don't forget to crop it</span>
                <div class="text-muted">by <span class="track-artist">Some artist</span></div>
            </td>
            <td class="queue-item-action"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
        </tr>

        <tr class="active">
            <td class="queue-item-action"><i class="fa fa-play-circle text-large" aria-hidden="true"></i></td>
            <td class="crop-text track-title-cell">
                <span class="track-title">The track I'm playing</span>
                <div class="text-muted">by <span class="track-artist">Some artist</span></div>
            </td>
            <td class="queue-item-action"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
        </tr>

        <tr>
            <td class="queue-item-action"><i class="fa fa-play-circle text-large" aria-hidden="true"></i></td>
            <td class="crop-text track-title-cell">
                <span class="track-title">Some track</span>
                <div class="text-muted">by <span class="track-artist">Some artist</span></div>
            </td>
            <td class="queue-item-action"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
        </tr>

        <tr>
            <td class="queue-item-action"><i class="fa fa-play-circle text-large" aria-hidden="true"></i></td>
            <td class="crop-text track-title-cell">
                <span class="track-title">Some track</span>
                <div class="text-muted">by <span class="track-artist">Some artist</span></div>
            </td>
            <td class="queue-item-action"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
        </tr>

        <tr>
            <td class="queue-item-action"><i class="fa fa-play-circle text-large" aria-hidden="true"></i></td>
            <td class="crop-text track-title-cell">
                <span class="track-title">Some track</span>
                <div class="text-muted">by <span class="track-artist">Some artist</span></div>
            </td>
            <td class="queue-item-action"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
        </tr>

        <tr>
            <td class="queue-item-action"><i class="fa fa-play-circle text-large" aria-hidden="true"></i></td>
            <td class="crop-text track-title-cell">
                <span class="track-title">Some track</span>
                <div class="text-muted">by <span class="track-artist">Some artist</span></div>
            </td>
            <td class="queue-item-action"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
        </tr>
    </table>
</div>
