<div style="font-size: 24px">
    <%
    var socialTypes = [
        {id: "google", icon: "fa-google-plus"},
        "facebook", "twitter",
        {id: "soundcloud", name: "sound cloud"}, "linkedin", "youtube",
        {id: "reverbnation", icon: "fa-star", name: "reverb nation"},
        "pinterest", "instagram", "medium"
    ]
    for (var i = 0; i < socialTypes.length; i++) {
        var item = socialTypes[i];
        if (typeof item == "string") {
            item = {id: item};
        }
        var value = artist && artist.social ? artist.social[item.id] : "";
        var name = item.name ? item.name : item.id;
        var icon = item.icon ? item.icon : "fa-" + item.id;
    if (value) { %>
    <a href="<%=value%>" target="_blank" class="fa <%= icon %> social-link"></a>
    <% }
    }
    %>
</div>