<!doctype html>
<html>
<head>
    <title>Admin - Musicoin</title>
    <%- include ../partials/admin-page-head.ejs %>
    <style>
        body {
            word-wrap:break-word;
            background-color: white;
            color: black;
        }
        .table > tbody > tr > td {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<style>
    .background-cover {
        display: none;
    }

    .placeholder {
        min-height: 200px;
    }
    .history-nav {
        display: flex;
        justify-content: space-between;
    }
    .history-nav-link {
        margin-left: 10px;
        font-size: 14pt;
        cursor: pointer;
    }

    .history-nav-link-disabled {
        margin-left: 10px;
        font-size: 14pt;
        color: #aaa
    }
    .admin-search {
        border-radius: 20px;
        border: 1px solid #aaa;
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .admin-section {
        min-height: 600px;
    }
    .small-admin-section {
        min-height: 300px;
    }
</style>
<%- include ../partials/admin-page-head.ejs %>
<%- include ../partials/header.ejs %>

<div class="container">
    <form action="/admin/elements/user-count" method="post">
      <div class="input-group-append">
        <button type="submit" class="btn btn-warning" style="color:#FFFFFF;font-family: Ubuntu;font-size:14px;font-weight: bold;line-height: 20px;">Show User Count</button>
      </div>
    </form>
    <br>
    <form action="/admin/elements/user-count" method="post">
      <div class="input-group-append">
        <button type="submit" class="btn btn-warning" style="color:#FFFFFF;font-family: Ubuntu;font-size:14px;font-weight: bold;line-height: 20px;">Show Artist Count</button>
      </div>
    </form>
    <br>
    <form action="/admin/elements/release-count" method="post">
      <div class="input-group-append">
        <button type="submit" class="btn btn-warning" style="color:#FFFFFF;font-family: Ubuntu;font-size:14px;font-weight: bold;line-height: 20px;">Show Release Count</button>
      </div>
    </form>
    <br>
    <form action="/admin/elements/play-count" method="post">
      <div class="input-group-append">
        <button type="submit" class="btn btn-warning" style="color:#FFFFFF;font-family: Ubuntu;font-size:14px;font-weight: bold;line-height: 20px;">Show Play Count</button>
      </div>
    </form>
    <br>
    <form action="/admin/elements/tip-count" method="post">
      <div class="input-group-append">
        <button type="submit" class="btn btn-warning" style="color:#FFFFFF;font-family: Ubuntu;font-size:14px;font-weight: bold;line-height: 20px;">Show Tip Count</button>
      </div>
    </form>
    <br>
    <form action="/admin/elements/account-balances" method="post">
      <div class="input-group-append">
        <button type="submit" class="btn btn-warning" style="color:#FFFFFF;font-family: Ubuntu;font-size:14px;font-weight: bold;line-height: 20px;">Show Account Balances</button>
      </div>
    </form>
    <br>
    <form action="/admin/elements/playback-history" method="post">
      <div class="input-group-append">
        <button type="submit" class="btn btn-warning" style="color:#FFFFFF;font-family: Ubuntu;font-size:14px;font-weight: bold;line-height: 20px;">Show Playback History</button>
      </div>
    </form>
    <br>
    <form action="/admin/elements/users" method="post">
      <div class="input-group-append">
        <button type="submit" class="btn btn-warning" style="color:#FFFFFF;font-family: Ubuntu;font-size:14px;font-weight: bold;line-height: 20px;">Show Users</button>
      </div>
    </form>
   <br>
    <form action="/admin/elements/releases" method="post">
      <div class="input-group-append">
        <button type="submit" class="btn btn-warning" style="color:#FFFFFF;font-family: Ubuntu;font-size:14px;font-weight: bold;line-height: 20px;">Show Releases</button>
      </div>
    </form>
    <br>
    <form action="/admin/elements/api-clients" method="post">
      <div class="input-group-append">
        <button type="submit" class="btn btn-warning" style="color:#FFFFFF;font-family: Ubuntu;font-size:14px;font-weight: bold;line-height: 20px;">Show API Clients</button>
      </div>
    </form>
</div>
<br>
<%- include ../partials/connect-with-us.ejs %>
</body>
</html>
